<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Editar Categoría de Habitación</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Editar Categoría de Habitación</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{% url 'listadoCategorias' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>

