{% extends "reservasApp/gestionReservas.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Editando Categoría</h2>

    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    {{ form.as_p }}
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <a href="{% url 'listadoCategorias' %}" class="btn btn-secondary">Cancelar</a>
                </div>                
            </form>>
        </div>
</div>
{% endblock %}

