<!-- checkinApp/checkinFormulario.html -->

{% extends 'reservasApp/gestionReservas.html' %}

{% block content %}
<div class="container mt-5">
    <div class="alert alert-info display-4 text-center">Check In para Reserva #{{ reserva.id }}</div>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="d-flex justify-content-between mt-3">
            <button type="submit" class="btn btn-primary">Registrar Check In</button>
            <a href="{% url 'listadoCheckin' %}" class="btn btn-secondary">Volver</a>
        </div>
    </form>
</div>
{% endblock %}

