{% extends 'reservasApp/gestionReservas.html' %}

{% block content %}
<!-- Contenido específico para la vista de listado de check-in -->

<h1 class="welcome-text">Listado de Check-in</h1>
<p class="lead">A continuación se muestra el listado de reservas que esperan check-in.</p>

<!-- Tabla de Check-ins -->
<div class="main-content">
    <div class="table-responsive">
        <table class="table table-bordered align-middle table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Reserva</th>
                    <th scope="col">Nombre Titular</th>
                    <th scope="col">Habitación</th>
                    <th scope="col">Entrada</th>
                    <th scope="col">Salida</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                <tr>
                    <th scope="row">{{ reserva.id }}</th>
                    <td>{{ reserva.titular }}</td>
                    <td>{{ reserva.tipoHab }}</td>
                    <td>{{ reserva.fecha_entrada|date:"d-m-Y" }}</td>
                    <td>{{ reserva.fecha_salida|date:"d-m-Y" }}</td>
                    <td>
                        <!-- Botones de acción -->
                        <a href="{% url 'checkinReserva' reserva.id %}" class="btn btn-primary btn-sm">Check-in</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>

{% endblock %}
